<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../Partials/Head.ejs')%>
</head>
<body>
    <header>
        <%-include('../partials/Header.ejs')%>
    </header>
    <ul>
        <% datas.forEach((data)=> { %>
            <li>
                <strong>
                    <%= data.name %>
                </strong>
                is <%= data.age %>
                    Year Old
            </li>
            <% }); %>
    </ul>
    <% datas.forEach((data)=> { %>
        <strong>
                <% if ( data.age> 22) { %>
                    <p> Valid Age!!!</p>
                 <%} else { %>
                    <p> Not Allowed </p>
                <% } %>
        </strong>
        <% }); %>
    <footer>
        <%-include('../partials/Footer.ejs')%>
    </footer>
</body>
</html>